


{% extends 'base.html' %}
{% block title %}o nama{% endblock %}
{% block content %}
{% load static %}
<!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">O nama</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        O nama
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>



    <!-- ABOUT V1
    ================================================== -->
    <div class="container pb-4 pb-xl-7">
        <div class="text-center mb-md-6 mb-4">
            <h1 class="mb-3">Nasa prica</h1>
            <p class="font-size-lg mb-5 text-capitalize">Upoznaj se sa nasim kursevima.</p>

            <p class="w-xl-80 mx-auto line-height-md" style="text-align: justify;" >

Dobrodošli na "Platforma", vašu destinaciju za neograničeno učenje i usavršavanje! Mi smo inovativna firma posvećena pružanju širokog spektra kurseva putem naše online platforme. Bez obzira da li ste profesionalac u potrazi za napredovanjem u karijeri, student željan dodatnog znanja ili entuzijasta koji želi usvojiti nove veštine, mi imamo nešto za svakoga.
<br>
Naša platforma nudi paletu kurseva koje predaju stručnjaci iz različitih oblasti. Od poslovnih veština, IT tehnologija, umetnosti i jezika, do naučnih disciplina, naši kursevi su kreirani da zadovolje različite potrebe i interese. Svi kursevi su pažljivo osmišljeni kako bi vam omogućili efikasno učenje, pružajući vam priliku da napredujete u sopstvenom ritmu.
<br>
Šta nas izdvaja? Pored bogatstva kurseva, ponosni smo na kombinaciju besplatnih resursa i premium sadržaja. To znači da svako, bez obzira na budžet, može pristupiti visokokvalitetnom obrazovanju. Naša misija je demokratizacija znanja, čineći obrazovanje dostupnim svima.
<br>
Učenje na našoj platformi je intuitivno i prilagođeno vašim potrebama. Interaktivni zadaci, video lekcije, diskusije sa predavačima i zajednicom čine proces učenja dinamičnim i angažujućim. Spremni smo da vam pružimo podršku na svakom koraku vašeg učeničkog puta.
<br>
Pridružite se hiljadama ljudi širom sveta koji su već otkrili radosti učenja na "Platforma". Bez obzira na to gde se nalazite u svom obrazovnom putovanju, mi smo tu da vam pomognemo ostvariti svoje ciljeve. Investirajte u svoje znanje, investirajte u sebe - zajedno gradimo budućnost obrazovanja!</p>
        </div>


    </div>


{% endblock %}